.closeIcon,
.minicartTitle,
.cartIcon.cartIcon--minicart-empty-state,
.cartIcon {
    color: #ffffff;
}

.minicartQuantityBadge.minicartQuantityBadgeDefault {
    background-color: #8bc34a;
    font-weight: bolder;
}